.mymetadata
.checkstyle
.classpath
.project
.class
.war
.zip
.rar
.idea
*.iml
/out/*
/lib/*
.settings/*
/indexes/*
/target/*
/src/main/webapp/WEB-INF/classes/*
/src/main/webapp/userfiles/*
*/target
*/node_modules

edu-admin/c:/logs/*
news-portal-api/output/dubbo.cache.lock
news-portal-api/output/dubbo.cache
